@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import "tailwindcss";

body {
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('/bg_img.png');
  background-size: cover;
  background-position: center;
}

button, a, label {
  transition: color 60ms linear, background-color 60ms linear !important;
}